<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    th,
    td {
        border: 1px solid black;
        background-image: url('');
        background-position: center;
    }
</style>

<body>
    <div style="width: 70%; margin-left: 15%; ">
        <hr>
        <div>
            <h4 style="font-size: 20px;">Công ty cổ phần Routin Việt Nam</h4>
            <div>
                <p>Mã số thuế: 01092827366</p>
                <p>Địa chỉ: Tầng 9 nhà 10 Thanh Xuân</p>
                <p>Điện thoại: 098787762</p>
            </div>
        </div>
        <hr>
        <div>
            <div>
                <p>Họ tên khách hàng: Miss, Hương Lan</p>
                <p>Địa chỉ: Tầng 9 nhà 10 Thanh Xuân</p>
                <p>Điện thoại: 098787762</p>
                <p>Hình thức thanh toán: Chuyển khoản</p>
                <p>Hình thức nhận hàng: Giao hàng nhanh</p>
            </div>
        </div>
        <div>
            <h4>Thông tin sản phẩm</h4>
            <table style="border-collapse: collapse; width: 100%;">
                <thead>
                    <th>STT</th>
                    <th>Tên sản phẩm</th>
                    <th>Đơn vị tính</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div>
                <p>Tổng tiền hàng: 10.000đ</p>
                <p>Phí ship: 36.000đ</p>
                <p>Áp mã: 10.000đ</p>
                <p>Thanh toán: 10.000đ</p>
                <p>Trạng thái hóa đơn: HOÀN THÀNH</p>
            </div>
        </div>
    </div>
</body>

</html>