.image-gallery-content {
    display: flex;
    flex-direction: row-reverse;
}

.image-gallery-thumbnails {
    padding: 0px 0px !important;
}

.image-gallery-thumbnails-container {
    flex-direction: column;
    display: flex;
}

.image-gallery-thumbnails-wrapper {
    margin-right: 12px;
}

.slider-img {
    display: block;
    width: 100%;
}

/* Custom CSS for React Image Gallery */
.image-gallery {
    position: relative;
}

/* Hide navigation buttons by default */
.image-gallery-left-nav,
.image-gallery-right-nav {
    display: none;
}

/* Show navigation buttons when hovering over the gallery container */
.image-gallery:hover .image-gallery-left-nav,
.image-gallery:hover .image-gallery-right-nav {
    display: block;
}

.color-type {
    margin-right: 12px;
    border: 1px solid black;
}

.color-type:hover {
    cursor: pointer;
}

.size-type {
    margin-right: 12px;
    border: 1px solid black;
    height: 50px;
    width: 50px;
    display: flex;
    font-weight: 700;
    align-items: center;
    justify-content: center;
}

.size-type:hover {
    cursor: pointer;
}

.btn-add-2-cart {
    height: 46px;
    width: 360px;
    border-radius: 10px;
    background-color: black;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.danh-gia h3 {
    font-family: "Helvetica Neue",
        Helvetica,
        Arial,
        文泉驛正黑,
        "WenQuanYi Zen Hei",
        "Hiragino Sans GB",
        "儷黑 Pro",
        "LiHei Pro",
        "Heiti TC",
        微軟正黑體,
        "Microsoft JhengHei UI",
        "Microsoft JhengHei",
        sans-serif;
    font-size: 18px;
    margin-bottom: 12px;
}


.danh-gia .star {
    min-height: 150px;
    background-color: #FEFBF7;
    border: 1px solid #f9ede5;
    display: flex;
    flex-direction: row;
}