.dashboard-container {
    display: inline-block;
    min-height: 100vh;
    margin-top: 80px;
    padding-left: 18rem;
    width: 100%;
    background-color: #F3F5F9;
}

.dashboard-container .content {
    width: 96%;
    margin-top: 20px;
    margin-left: 2%;
}